*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 2px solid black;
    display: grid;
    background-color: rgb(197, 111, 111);
    grid-template-columns: repeat(3,1fr);
    grid-area: 3;
    gap: 25px;
    height: 100vh;
    padding: 30px;
}
.box_one{
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    justify-content: center;
    align-items: center;
}
.box_two{
    background-color: aqua;
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    justify-content: center;
    align-items: center;
}
.box_three{
    background-color: aqua;
    grid-column-start: 2;
    grid-column-end: 2;
    display: grid;
    justify-content: center;
    align-items: center;
}
.box_four{
    background-color: aqua;
    grid-column-start: 3;
    grid-column-end: 4;
    display: grid;
    justify-content: center;
    align-items: center;
}
.box_five{
    background-color: aqua;
    grid-column-start: 2;
    grid-column-end: 4;
    display: grid;
    justify-content: center;
    align-items: center;
}
.box_six{
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    justify-content: center;
    align-items: center;
}
@media(max-width:480px){
    .container{
        display: flex;
        flex-direction: column;
    }
}
